In [1]:
import numpy as np
import pandas as pd
from difflib import SequenceMatcher

import os

In [14]:
file_path = os.path.join(os.getcwd(), 'statements','JUL', 'transaction.xls')

# Read the XLS file with the first column as index
df = pd.read_excel(file_path, index_col=0)

NameError: name 'pd' is not defined

In [7]:
# Columns = ['Value Date', 'Transaction Date', 'Cheque Number','Transaction Remarks', 'Withdrawal Amount (INR )','Deposit Amount (INR )', 'Balance (INR )']
TRANS_DATE = df['Transaction Date']
TRANS_REMARKS = df['Transaction Remarks']
WITHDRAWAL_AMT = df['Withdrawal Amount (INR )']
DEPOSIT_AMT = df['Deposit Amount (INR )']
BALANCE = df['Balance (INR )']

KeyError: 'Transaction Date'

In [155]:
# Pre-proccess of Data
df = df.drop(['Value Date', 'Cheque Number'], axis=1)
df

,Transaction Date,Transaction Remarks,Withdrawal Amount (INR ),Deposit Amount (INR ),Balance (INR )
S No.,,,,,
1.0,01/05/2024,UPI/412229281441/665255126353596/zerodhabrokin...,25000.0,0.0,58651.09
2.0,01/05/2024,UPI/412251303886/UPIPayment/paytmqr1xtlloes//I...,48.0,0.0,58603.09
3.0,01/05/2024,UPI/412251327204/aataUPIPayment/paytmqr2810050...,672.0,0.0,57931.09
4.0,02/05/2024,UPI/412352998432/UPIPayment/q060407238@ybl//IC...,60.0,0.0,57871.09
5.0,02/05/2024,ACH/TP ACH INDIANESIGN/ICIC7032002241000479/14...,1000.0,0.0,56871.09
...,...,...,...,...,...
114.0,30/05/2024,UPI/415162870831/Blinkit Payment/paytm-7025846...,906.0,0.0,91226.01
115.0,31/05/2024,UPI/451891175799/912/vaibhavkumar921/ICICI Ban...,0.0,10150.0,101376.01
116.0,31/05/2024,UPI/415285156127/Oid202405311718/pay9739548874...,90.0,0.0,101286.01
117.0,31/05/2024,UPI/415244316479/UPI/q982293812@ybl/Yes Bank L...,240.0,0.0,101046.01
118.0,31/05/2024,UPI/415293908199/UPI/paytmqr1icqxdx0/Yes Bank ...,160.0,0.0,100886.01

In [156]:
df

,Transaction Date,Transaction Remarks,Withdrawal Amount (INR ),Deposit Amount (INR ),Balance (INR )
S No.,,,,,
1.0,01/05/2024,UPI/412229281441/665255126353596/zerodhabrokin...,25000.0,0.0,58651.09
2.0,01/05/2024,UPI/412251303886/UPIPayment/paytmqr1xtlloes//I...,48.0,0.0,58603.09
3.0,01/05/2024,UPI/412251327204/aataUPIPayment/paytmqr2810050...,672.0,0.0,57931.09
4.0,02/05/2024,UPI/412352998432/UPIPayment/q060407238@ybl//IC...,60.0,0.0,57871.09
5.0,02/05/2024,ACH/TP ACH INDIANESIGN/ICIC7032002241000479/14...,1000.0,0.0,56871.09
...,...,...,...,...,...
114.0,30/05/2024,UPI/415162870831/Blinkit Payment/paytm-7025846...,906.0,0.0,91226.01
115.0,31/05/2024,UPI/451891175799/912/vaibhavkumar921/ICICI Ban...,0.0,10150.0,101376.01
116.0,31/05/2024,UPI/415285156127/Oid202405311718/pay9739548874...,90.0,0.0,101286.01
117.0,31/05/2024,UPI/415244316479/UPI/q982293812@ybl/Yes Bank L...,240.0,0.0,101046.01
118.0,31/05/2024,UPI/415293908199/UPI/paytmqr1icqxdx0/Yes Bank ...,160.0,0.0,100886.01

In [157]:
# Split the string by '/' and assign to new columns
# df[['Trasaction Type 1', 'Trasaction Type 2', 'Trasaction Type 3','Trasaction Type 4','Trasaction Type 5']] = df[TRANS_REMARKS].str.split('/', expand=True)

# Split the 'data' column, create a list of lists
TRANS_REMARKS = df["Transaction Remarks"]
data_list = [row.split('/') for row in df["Transaction Remarks"]]

# data_list
new_col_names = ['Sender(s) Trasaction Type', 'Sender(s) UTR', 'Recipient(s) Trasaction Type','Recipient(s) UTR','Bank', 'UniqueID']
index = pd.RangeIndex(start=1, stop=len(data_list) + 1)
df_new = pd.DataFrame.from_records(data_list, columns=new_col_names,index=index)  # Assuming all rows have the same structure
df = pd.concat([df, df_new], axis=1)  # Combine along columns
df.head()

,Transaction Date,Transaction Remarks,Withdrawal Amount (INR ),Deposit Amount (INR ),Balance (INR ),Sender(s) Trasaction Type,Sender(s) UTR,Recipient(s) Trasaction Type,Recipient(s) UTR,Bank,UniqueID
1.0,01/05/2024,UPI/412229281441/665255126353596/zerodhabrokin...,25000.0,0.0,58651.09,UPI,412229281441,665255126353596,zerodhabroking@,HDFC BANK LTD,HDFBC3513A2FFC34
2.0,01/05/2024,UPI/412251303886/UPIPayment/paytmqr1xtlloes//I...,48.0,0.0,58603.09,UPI,412251303886,UPIPayment,paytmqr1xtlloes,,ICIdfc0dbfc489643fc9ff17c6fcbfb84e
3.0,01/05/2024,UPI/412251327204/aataUPIPayment/paytmqr2810050...,672.0,0.0,57931.09,UPI,412251327204,aataUPIPayment,paytmqr28100505,,ICI143d85608eb2442592f607aebf4
4.0,02/05/2024,UPI/412352998432/UPIPayment/q060407238@ybl//IC...,60.0,0.0,57871.09,UPI,412352998432,UPIPayment,q060407238@ybl,,ICI788
5.0,02/05/2024,ACH/TP ACH INDIANESIGN/ICIC7032002241000479/14...,1000.0,0.0,56871.09,ACH,TP ACH INDIANESIGN,ICIC7032002241000479,143276,None,None

In [160]:
# Specify the column name and substring
substring = 'vaibhav'

# Filter for rows where 'substring' is found (case-sensitive) and handle missing values
filtered_df = df[df["Recipient(s) UTR"].notna() & df["Recipient(s) UTR"].str.contains(substring)]

# Print the filtered DataFrame
print(filtered_df)

      Transaction Date                                Transaction Remarks  \
116.0       31/05/2024  UPI/415285156127/Oid202405311718/pay9739548874...

       Withdrawal Amount (INR )  Deposit Amount (INR )  Balance (INR )  \
116.0                      90.0                    0.0       101286.01

      Sender(s) Trasaction Type Sender(s) UTR Recipient(s) Trasaction Type  \
116.0                       UPI  451891175799                          912

      Recipient(s) UTR        Bank                         UniqueID
116.0  vaibhavkumar921  ICICI Bank  YBL0c3c2d9c8c2c4e4ba8fda7907e65

In [10]:
import os
import datetime

# Month abbreviations dictionary
month_abbr = {
    1: "JAN",
    2: "FEB",
    3: "MAR",
    4: "APR",
    5: "MAY",
    6: "JUN",
    7: "JUL",
    8: "AUG",
    9: "SEP",
    10: "OCT",
    11: "NOV",
    12: "DEC"
}

# Get current date
today = datetime.date.today()

# Create folders for all months (up to current month)
for month_num in range(1, today.month + 1):
  month_str = month_abbr[month_num]
  folder_path = os.path.join("statements", month_str)

  # Check if folder already exists (optional)
  if not os.path.exists(folder_path):  # Uncomment for checking existence

    # Create the folder
    os.makedirs(folder_path, exist_ok=True)  # Handles existing folders
  print(f"Created folder: {folder_path}")

print("All folders created (up to current month).")

Created folder: statements\JAN
Created folder: statements\FEB
Created folder: statements\MAR
Created folder: statements\APR
Created folder: statements\MAY
Created folder: statements\JUN
Created folder: statements\JUL
Created folder: statements\AUG
Created folder: statements\SEP
Created folder: statements\OCT
Created folder: statements\NOV
All folders created (up to current month).